// Theme Colors
$theme-colors: (primary: #f83560,
success: #0CC27E,
info: #1CBCD8,
warning: #FF8D60,
danger: #FF586B,
secondary: #868e96,
light: #f8f9fa,
dark: #343a40);

$bg-primary-color: #ECE3DC;
$primary-color: #f83560;
$primary: #f83560;
